input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  display: none;
}

.root {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  gap: 10px;
  width: 366px;
  height: 50px;
  border: 1px solid black;
  border-radius: 10px;

  .input {
    padding: 0;
    width: 100%;
    font-size: 24px;
    border: none;
    &::placeholder {
      font-size: 24px;
    }
  }

  .icon {
    width: 32px;
    height: 32px;
    fill: #909090;
    &:hover {
      cursor: pointer;
      fill: black;
    }
  }
  .clearIcon {
    width: 24px;
    height: 24px;
    opacity: 0.3;
    cursor: pointer;
    &:hover {
      opacity: 0.8;
    }
  }
}
